@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-c1: #FFCC0D;
  --color-c2: #1a1a1a;
  --color-dc2: #292924;
  /* 111827 1a1a1a */
  --color-c3: #F2F2F2;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.fhhfhfh{
  color: #292924;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  overscroll-behavior: none;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-comic-relief), sans-serif ;
}
@keyframes verticalBeam {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-vertical-beam {
  animation: verticalBeam 3s linear infinite;
}

.animation-delay-500 { animation-delay: 0.5s; }
.animation-delay-750 { animation-delay: 0.75s; }
.animation-delay-1000 { animation-delay: 1s; }
.animation-delay-1500 { animation-delay: 1.5s; }
.animation-delay-1750 { animation-delay: 1.75s; }
.animation-delay-2000 { animation-delay: 2s; }


@keyframes verticalBeam {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-vertical-beam {
  animation: verticalBeam 2.5s linear infinite;
}
h1 {
  font-family: var(--font-climate-crisis), sans-serif;
}
p{
  font-family: var(--font-comic-relief), sans-serif ;
}
.animation-delay-200 { animation-delay: 0.2s; }
.animation-delay-400 { animation-delay: 0.4s; }
.animation-delay-600 { animation-delay: 0.6s; }
.animation-delay-800 { animation-delay: 0.8s; }
.animation-delay-1000 { animation-delay: 1s; }